<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Esquiteria</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="/src/css/normalize.css" />
		<link
			rel="stylesheet"
			href="/src/css/styles.
		css"
		/>
		<link rel="stylesheet" href="/src/css/components.css" />
		<link rel="stylesheet" href="/src/css/orders.css" />
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/es.min.js"
			integrity="sha512-tgY2qswcbQir80Vp67s5ZdbKikl99YmVXp3V/C4Acthk4gI29ONbQ+MR8B5tpESkNoa0N1P7HnSuzC6nOflrwA=="
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<header class="header">
			<nav class="container main-nav">
				<figure class="figure">
					<a href="/src/index.html">
						<img class="logo" src="/src/assets/img/Esquiteria 2.png" alt="logo" />
					</a>
				</figure>
				<ul id="menu" class="menu">
					<li class="menu__item">
						<a href="/src/views/order/order.html" class="link menu__link menu__link--yellow" title="Ir a tomar orden"
							>Tomar orden</a
						>
					</li>
					<li class="menu__item">
						<a
							href="/src/views/orders-list/orders-list.html"
							class="link menu__link menu__link--cyan"
							title="Ir a lista de ordenes"
							>Lista de ordenes</a
						>
					</li>
					<li class="menu__item">
						<a
							href="/src/views/products-sold/products-sold.html"
							class="link menu__link menu__link--green"
							title="Ir a historial de productos"
							>Ventas del día</a
						>
					</li>
				</ul>
				<div class="container-options">
					<a href="/src/views/configuration/configuration.html">
						<img id="config" src="/src/assets/icons/settings.svg" alt="configuración" />
					</a>
					<div id="hamburger-icon" class="hamburger-icon">
						<div class="hamburger-icon__line"></div>
						<div class="hamburger-icon__line"></div>
						<div class="hamburger-icon__line"></div>
					</div>
				</div>
			</nav>
		</header>
		<main class="container main">
			<h2 class="title">Tomar Orden</h2>
			<section class="products-container">
				<section class="section section-botanas">
					<h3 class="subtitle">Botanas</h3>
					<a data-arrow="drinks" class="arrow-down"> </a>
					<div id="botanas-container" class="desplegable-container">
						<div class="product">
							<p class="product__title">Esquite<span class="product__price">$25</span></p>
							<div class="product__options">
								<div class="product__contain-btn">
									<a class="btn product__btn btn-remove"></a>
									<a class="btn product__btn btn-add"></a>
								</div>
								<span class="quantity-product">30</span>
							</div>
						</div>
						<div class="product">
							<p class="product__title">Doriesquite<span class="product__price">$45</span></p>
							<div class="product__options">
								<div class="product__contain-btn">
									<a class="btn product__btn btn-remove"></a>
									<a class="btn product__btn btn-add"></a>
								</div>
								<span class="quantity-product">30</span>
							</div>
						</div>
						<div class="product">
							<p class="product__title">Doriloco<span class="product__price">$35</span></p>
							<div class="product__options">
								<div class="product__contain-btn">
									<a class="btn product__btn btn-remove"></a>
									<a class="btn product__btn btn-add"></a>
								</div>
								<span class="quantity-product">30</span>
							</div>
						</div>
						<div class="product">
							<p class="product__title">Tostiloco<span class="product__price">$35</span></p>
							<div class="product__options">
								<div class="product__contain-btn">
									<a class="btn product__btn btn-remove"></a>
									<a class="btn product__btn btn-add"></a>
								</div>
								<span class="quantity-product">30</span>
							</div>
						</div>
					</div>
				</section>

				<section class="section section-desserts">
					<h3 class="subtitle">Postres</h3>
					<a data-arrow="desserts" class="arrow-down"> </a>
					<div id="desserts-container" class="desplegable-container">
						<div class="product">
							<p class="product__title">Fresas con crema <span class="product__price">$45</span></p>
							<div class="product__options">
								<div class="product__contain-btn">
									<a class="btn product__btn btn-remove"></a>
									<a class="btn product__btn btn-add"></a>
								</div>
								<span class="quantity-product">30</span>
							</div>
						</div>
						<div class="product">
							<p class="product__title">Gelatina con durazno<span class="product__price">$45</span></p>
							<div class="product__options">
								<div class="product__contain-btn">
									<a class="btn product__btn btn-remove"></a>
									<a class="btn product__btn btn-add"></a>
								</div>
								<span class="quantity-product">30</span>
							</div>
						</div>
						<div class="product">
							<p class="product__title">Ensalada de manzana<span class="product__price">$45</span></p>
							<div class="product__options">
								<div class="product__contain-btn">
									<a class="btn product__btn btn-remove"></a>
									<a class="btn product__btn btn-add"></a>
								</div>
								<span class="quantity-product">30</span>
							</div>
						</div>
					</div>
				</section>

				<section class="section section-drinks">
					<h3 class="subtitle">Bebidas</h3>
					<a data-arrow="drinks" class="arrow-down"> </a>
					<div id="drinks-container" class="desplegable-container">
						<div class="product">
							<p class="product__title">Gomiboing<span class="product__price">$35</span></p>
							<div class="product__options">
								<div class="product__contain-btn">
									<a class="btn product__btn btn-remove"></a>
									<a class="btn product__btn btn-add"></a>
								</div>
								<span class="quantity-product">30</span>
							</div>
						</div>
						<div class="product">
							<p class="product__title">Agua fresca 1L<span class="product__price">$22</span></p>
							<div class="product__options">
								<div class="product__contain-btn">
									<a class="btn product__btn btn-remove"></a>
									<a class="btn product__btn btn-add"></a>
								</div>
								<span class="quantity-product">30</span>
							</div>
						</div>
						<div class="product">
							<p class="product__title">Coca cola<span class="product__price">$22</span></p>
							<div class="product__options">
								<div class="product__contain-btn">
									<a class="btn product__btn btn-remove"></a>
									<a class="btn product__btn btn-add"></a>
								</div>
								<span class="quantity-product">30</span>
							</div>
						</div>
					</div>
				</section>
			</section>
			<section class="order-specification-section">
				<label class="label-details" for="details">Información adicional</label>
				<textarea
					class="details-area"
					title="Especificación de orden"
					id="details"
					cols="30"
					rows="10"
					placeholder="Ejemplo: Esquite sin mayonesa"
				></textarea>
			</section>

			<section class="section-details">
				<h3 class="subtitle">Detalles de orden</h3>
				<table class="table-order">
					<thead>
						<tr>
							<th>Producto</th>
							<th>Cantidad</th>
							<th>Precio</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Esquite</td>
							<td>2</td>
							<td>50</td>
							<td><img src="/src/assets/icons/delete-forever.svg" alt="" /></td>
						</tr>
						<tr>
							<td>Gelatina con durazno de medio litro</td>
							<td>2</td>
							<td>50</td>
							<td><img id="product-delete" src="/src/assets/icons/delete-forever.svg" alt="" /></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="3"><strong>Total: $</strong><span id="total-order">135</span></td>
						</tr>
					</tfoot>
				</table>
				<div class="options-order">
					<div class="received-bill-container">
						<div>
							<label class="label-money" for="money">Recibo: $</label>
							<input id="money" class="input-received-bill" type="number" step="0.01" />
						</div>
						<select id="bill" class="bill" name="bill" title="Tipo de billete">
							<optgroup label="Tipo billete">
								<option value="20">$20</option>
								<option value="50">$50</option>
								<option value="100">$100</option>
								<option value="200">$200</option>
								<option value="500">$500</option>
								<option value="1000">$1000</option>
							</optgroup>
						</select>
					</div>
					<span class="money-exchanges">Cambio: $<span id="money-exchanges">50</span></span>
					<div class="confirm-cancel-order">
						<button type="button" id="confirm" class="btn btn-primary">Confirmar</button>
						<button type="button" id="cancel" class="btn btn-cancel">Cancelar</button>
					</div>
				</div>
			</section>
		</main>
		<script src="/src/js/app.js" type="module"></script>
	</body>
</html>
