<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Esquiteria</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/normalize.css" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<link rel="stylesheet" href="../../css/components.css" />
		<link rel="stylesheet" href="../../css/orders.css" />
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	</head>
	<body id="body">
		<header class="header">
			<nav class="main-nav">
				<figure class="figure">
					<a href="../../../index.html">
						<img class="logo" src="../../assets/img/Esquiteria 2.png" alt="logo" />
					</a>
				</figure>
				<ul id="menu" class="menu">
					<li class="menu__item">
						<a href="../../views/order/order.html" class="link menu__link menu__link--yellow" title="Ir a tomar orden"
							>Tomar orden</a
						>
					</li>
					<li class="menu__item">
						<a
							href="../../views/orders-list/orders-list.html"
							class="link menu__link menu__link--cyan"
							title="Ir a lista de ordenes"
							>Lista de ordenes</a
						>
					</li>
					<li class="menu__item">
						<a
							href="../../views/products-sold/products-sold.html"
							class="link menu__link menu__link--green"
							title="Ir a historial de productos"
							>Ventas del día</a
						>
					</li>
				</ul>
				<div class="container-options">
					<a href="../../views/configuration/configuration.html">
						<img id="config" src="../../assets/icons/settings.svg" alt="configuración" />
					</a>
					<div id="hamburger-icon" class="hamburger-icon">
						<div class="hamburger-icon__line"></div>
						<div class="hamburger-icon__line"></div>
						<div class="hamburger-icon__line"></div>
					</div>
				</div>
			</nav>
		</header>
		<main class="container main">
			<h2 class="title">Tomar Orden</h2>

			<!-- <section class="specification">
				<form class="specification__prod">
					<div class="specification__select">
						<p class="specification__prod-name">1 Esquite</p>
						<select>
							<option value="normal" selected>Normal</option>
							<option value="mas caldo que grano">Mas caldo que grano</option>
							<option value="mas grano que caldo">Mas grano que caldo</option>
						</select>
					</div>
					<div class="specification__container">
						<div>
							<label> Mayonesa </label>
							<select>
								<option value="mayonesa" selected>Mayonesa</option>
								<option value="sin mayonesa">Sin mayonesa</option>
								<option value="poca mayonesa">Poca mayonesa</option>
								<option value="mucha mayonesa">Mucha mayonesa</option>
							</select>
						</div>

						<div>
							<label class="specification__label">Queso</label>
							<select>
								<option value="queso" selected>Queso</option>
								<option value="sin queso">Sin queso</option>
								<option value="poco queso">Poco queso</option>
								<option value="mucho queso">Mucho queso</option>
							</select>
						</div>
						<div>
							<label class="specification__label"> Chile </label>
							<select>
								<option value="chile" selected>Chile</option>
								<option value="sin chile">Sin chile</option>
								<option value="poco chile">Poco chile</option>
								<option value="mucho chile">Mucho chile</option>
							</select>
						</div>

						<div>
							<label class="specification__label"> Limón </label>
							<select>
								<option value="limon" selected>Limón</option>
								<option value="sin limon">Sin limón</option>
								<option value="poco limon">Poco limón</option>
								<option value="mucho limon">Mucho limón</option>
							</select>
						</div>
					</div>
					<div class="specification__buttons">
						<button type="submit" class="btn btn-primary">Agregar detalle</button>
						<button type="button" class="btn btn-cancel">Eliminar producto</button>
					</div>
				</form>

				<form class="specification__prod">
					<div class="specification__select">
						<p class="specification__prod-name">1 Esquite 1/2</p>
						<select>
							<option value="normal" selected>Normal</option>
							<option value="mas caldo que grano">Mas caldo que grano</option>
							<option value="mas grano que caldo">Mas grano que caldo</option>
						</select>
					</div>
					<div class="specification__container">
						<div>
							<label> Mayonesa </label>
							<select>
								<option value="mayonesa" selected>Mayonesa</option>
								<option value="sin mayonesa">Sin mayonesa</option>
								<option value="poca mayonesa">Poca mayonesa</option>
								<option value="mucha mayonesa">Mucha mayonesa</option>
							</select>
						</div>

						<div>
							<label class="specification__label">Queso</label>
							<select>
								<option value="queso" selected>Queso</option>
								<option value="sin queso">Sin queso</option>
								<option value="poco queso">Poco queso</option>
								<option value="mucho queso">Mucho queso</option>
							</select>
						</div>
						<div>
							<label class="specification__label"> Chile </label>
							<select>
								<option value="chile" selected>Chile</option>
								<option value="sin chile">Sin chile</option>
								<option value="poco chile">Poco chile</option>
								<option value="mucho chile">Mucho chile</option>
							</select>
						</div>

						<div>
							<label class="specification__label"> Limón </label>
							<select>
								<option value="limon" selected>Limón</option>
								<option value="sin limon">Sin limón</option>
								<option value="poco limon">Poco limón</option>
								<option value="mucho limon">Mucho limón</option>
							</select>
						</div>
					</div>
					<div class="specification__buttons">
						<button type="submit" class="btn btn-primary">Agregar detalle</button>
						<button type="button" class="btn btn-cancel">Eliminar producto</button>
					</div>
				</form>

				<form class="specification__prod">
					<div class="specification__select">
						<p class="specification__prod-name">1 Doriesquite</p>
						<select>
							<option value="nacho" selected>Nacho</option>
							<option value="flaming">Flaming</option>
							<option value="pizzerolas">Pizzerolas</option>
							<option value="incognita">Incog</option>
							<option value="dinamita">Dinamita</option>
							<option value="fritos">Fritos</option>
							<option value="rancheritos">Rancheritos</option>
							<option value="rufles">Rufles</option>
							<option value="crujitos">Crujitos</option>
							<option value="sabritas">Sabritas</option>
							<option value="sabritas flaming">Sabritas.F</option>
							<option value="sabritas adobadas">Sabritas.A</option>
							<option value="colmillos">Colmillo</option>
						</select>

						<select>
							<option value="normal" selected>Normal</option>
							<option value="mas caldo que grano">Mas caldo que grano</option>
							<option value="mas grano que caldo">Mas grano que caldo</option>
						</select>
					</div>

					<div class="specification__container">
						<div>
							<label> Mayonesa </label>
							<select>
								<option value="mayonesa" selected>Mayonesa</option>
								<option value="sin mayonesa">Sin mayonesa</option>
								<option value="poca mayonesa">Poca mayonesa</option>
								<option value="mucha mayonesa">Mucha mayonesa</option>
							</select>
						</div>

						<div>
							<label class="specification__label">Queso en polvo</label>
							<select>
								<option value="queso" selected>Queso</option>
								<option value="s/queso polvo">Sin queso</option>
								<option value="poco queso polvo">Poco queso</option>
								<option value="mucho queso polvo">Mucho queso</option>
							</select>
						</div>
						<div>
							<label class="specification__label">Queso amarillo</label>
							<select>
								<option value="queso" selected>Queso</option>
								<option value="s/queso amarillo">Sin queso amarillo</option>
								<option value="poco qso amarillo">Poco queso amarillo</option>
								<option value="mucho queso">Mucho queso amarillo</option>
							</select>
						</div>
						<div>
							<label class="specification__label"> Chile </label>
							<select>
								<option value="chile" selected>Chile</option>
								<option value="sin chile">Sin chile</option>
								<option value="poco chile">Poco chile</option>
								<option value="mucho chile">Mucho chile</option>
							</select>
						</div>

						<div>
							<label class="specification__label"> Limón </label>
							<select>
								<option value="limon" selected>Limón</option>
								<option value="sin limon">Sin limón</option>
								<option value="poco limon">Poco limón</option>
								<option value="mucho limon">Mucho limón</option>
							</select>
						</div>
					</div>
					<div class="specification__buttons">
						<button type="submit" class="btn btn-primary">Agregar detalle</button>
						<button type="button" class="btn btn-cancel">Eliminar producto</button>
					</div>
				</form>

				<form class="specification__prod">
					<p class="specification__prod-name">1 Tostiloco</p>
					<div class="specification__container">
						<div>
							<label class="specification__label"> Jicama </label>
							<select>
								<option value="jicama" selected>Jicama</option>
								<option value="s/jicama">Sin jicama</option>
								<option value="poca jicama">Poca jicama</option>
								<option value="mucha jicama">Mucha jicama</option>
							</select>
						</div>
						<div>
							<label class="specification__label"> Pepino </label>
							<select>
								<option value="pepino" selected>Pepino</option>
								<option value="s/pepino">Sin pepino</option>
								<option value="poco pepino">Poco pepino</option>
								<option value="mucho pepino">Mucho pepino</option>
							</select>
						</div>
						<div>
							<label class="specification__label"> Zanahoria </label>
							<select>
								<option value="zanahoria" selected>Zanahoria</option>
								<option value="s/zanahoria">Sin zanahoria</option>
								<option value="poca zanahoria">Poca zanahoria</option>
								<option value="mucha zanahoria">Mucha zanahoria</option>
							</select>
						</div>
						<div>
							<label class="specification__label"> Cacahuates </label>
							<select>
								<option value="cacahuates" selected>Cacahuates</option>
								<option value="s/cacahuates">Sin cacahuates</option>
								<option value="pocos cacahuates">Pocos cacahuates</option>
								<option value="muchos cacahuates">Muchos cacahuates</option>
							</select>
						</div>
						<div>
							<label class="specification__label"> Gomitas </label>
							<select>
								<option value="gomitas" selected>Gomitas</option>
								<option value="s/gomitas">Sin gomitas</option>
								<option value="pocas gomitas">Pocas gomitas</option>
								<option value="muchas gomitas">Muchas gomitas</option>
							</select>
						</div>
						<div>
							<label class="specification__label"> Chamoy </label>
							<select>
								<option value="chamoy" selected>Chamoy</option>
								<option value="s/chamoy">Sin chamoy</option>
								<option value="poco chamoy">Poco chamoy</option>
								<option value="mucho chamoy">Mucho chamoy</option>
							</select>
						</div>
						<div>
							<label class="specification__label"> Miguelito </label>
							<select>
								<option value="miguelito" selected>Miguelito</option>
								<option value="s/miguelito">Sin miguelito</option>
								<option value="poco miguelito">Poco miguelito</option>
								<option value="mucho miguelito">Mucho miguelito</option>
							</select>
						</div>
						<div>
							<label class="specification__label"> Salsa </label>
							<select>
								<option value="salsa" selected>Salsa</option>
								<option value="s/salsa">Sin salsa</option>
								<option value="poca salsa">Poca salsa</option>
								<option value="mucha salsa">Mucha salsa</option>
							</select>
						</div>
						<div>
							<label class="specification__label"> Banderilla </label>
							<select>
								<option value="banderilla" selected>Banderilla</option>
								<option value="s/banderilla">Sin banderilla</option>
							</select>
						</div>
					</div>
					<div class="specification__buttons">
						<button type="submit" class="btn btn-primary">Agregar detalle</button>
						<button type="button" class="btn btn-cancel">Eliminar producto</button>
					</div>
				</form>

				<form class="specification__prod">
					<div class="specification__select">
						<p class="specification__prod-name">1 Doriloco</p>
						<select id="234234234234" title="hola">
							<option value="nacho" selected>Nacho</option>
							<option value="flaming">Flaming</option>
							<option value="pizzerolas">Pizzerolas</option>
							<option value="incognita">Incog</option>
							<option value="dinamita">Dinamita</option>
							<option value="fritos">Fritos</option>
							<option value="rancheritos">Rancheritos</option>
							<option value="rufles">Rufles</option>
							<option value="crujitos">Crujitos</option>
							<option value="sabritas">Sabritas</option>
							<option value="sabritas flaming">Sabritas.F</option>
							<option value="sabritas adobadas">Sabritas.A</option>
							<option value="colmillos">Colmillo</option>
						</select>
					</div>

					<div class="specification__container">
						<div>
							<label class="specification__label"> Jicama </label>
							<select>
								<option value="jicama" selected>Jicama</option>
								<option value="s/jicama">Sin jicama</option>
								<option value="poca jicama">Poca jicama</option>
								<option value="mucha jicama">Mucha jicama</option>
							</select>
						</div>
						<div>
							<label class="specification__label"> Pepino </label>
							<select>
								<option value="pepino" selected>Pepino</option>
								<option value="s/pepino">Sin pepino</option>
								<option value="poco pepino">Poco pepino</option>
								<option value="mucho pepino">Mucho pepino</option>
							</select>
						</div>
						<div>
							<label class="specification__label"> Zanahoria </label>
							<select>
								<option value="zanahoria" selected>Zanahoria</option>
								<option value="s/zanahoria">Sin zanahoria</option>
								<option value="poca zanahoria">Poca zanahoria</option>
								<option value="mucha zanahoria">Mucha zanahoria</option>
							</select>
						</div>
						<div>
							<label class="specification__label"> Cacahuates </label>
							<select>
								<option value="cacahuates" selected>Cacahuates</option>
								<option value="s/cacahuates">Sin cacahuates</option>
								<option value="pocos cacahuates">Pocos cacahuates</option>
								<option value="muchos cacahuates">Muchos cacahuates</option>
							</select>
						</div>
						<div>
							<label class="specification__label"> Gomitas </label>
							<select>
								<option value="gomitas" selected>Gomitas</option>
								<option value="s/gomitas">Sin gomitas</option>
								<option value="pocas gomitas">Pocas gomitas</option>
								<option value="muchas gomitas">Muchas gomitas</option>
							</select>
						</div>
						<div>
							<label class="specification__label"> Chamoy </label>
							<select>
								<option value="chamoy" selected>Chamoy</option>
								<option value="s/chamoy">Sin chamoy</option>
								<option value="poco chamoy">Poco chamoy</option>
								<option value="mucho chamoy">Mucho chamoy</option>
							</select>
						</div>
						<div>
							<label class="specification__label"> Miguelito </label>
							<select>
								<option value="miguelito" selected>Miguelito</option>
								<option value="s/miguelito">Sin miguelito</option>
								<option value="poco miguelito">Poco miguelito</option>
								<option value="mucho miguelito">Mucho miguelito</option>
							</select>
						</div>
						<div>
							<label class="specification__label"> Salsa </label>
							<select>
								<option value="salsa" selected>Salsa</option>
								<option value="s/salsa">Sin salsa</option>
								<option value="poca salsa">Poca salsa</option>
								<option value="mucha salsa">Mucha salsa</option>
							</select>
						</div>
						<div>
							<label class="specification__label"> Banderilla </label>
							<select>
								<option value="banderilla" selected>Banderilla</option>
								<option value="s/banderilla">Sin banderilla</option>
							</select>
						</div>
					</div>
					<div class="specification__buttons">
						<button type="submit" class="btn btn-primary">Agregar detalle</button>
						<button type="button" class="btn btn-cancel">Eliminar producto</button>
					</div>
				</form>

				<form class="specification__prod">
					<p class="specification__prod-name">1 Postre</p>
					<div class="specification__container">
						<div>
							<label class="specification__label"> Chantilly</label>
							<select>
								<option value="chantilly" selected>Chantilly</option>
								<option value="s/chantilly">Sin chantilly</option>
								<option value="poco chantilly">Poco chantilly</option>
								<option value="mucho chantilly">Mucho chantilly</option>
							</select>
						</div>
						<div>
							<label class="specification__label"> Chocolate liquido </label>
							<select>
								<option value="chocolate" selected>Chocolate</option>
								<option value="s/chocolate">Sin chocolate</option>
								<option value="poco chocolate">Poco chocolate</option>
								<option value="mucho chocolate">Mucho chocolate</option>
							</select>
						</div>
						<div>
							<label class="specification__label"> Galleta </label>
							<select>
								<option value="galleta" selected>Galleta</option>
								<option value="s/galleta">Sin galleta</option>
								<option value="galleta extra">Galleta extra</option>
							</select>
						</div>
						<div>
							<label class="specification__label"> Choc. Vaquita </label>
							<select>
								<option value="chocolate vaquita" selected>Choc. Vaquita</option>
								<option value="s/choc.vaq">Sin chocolate vaquita</option>
								<option value="choc-vaq-extra">Choc vaq-extra</option>
							</select>
						</div>
						<div>
							<label class="specification__label"> Chochitos </label>
							<select>
								<option value="chochitos" selected>Chochitos</option>
								<option value="s/chochitos">Sin chochitos</option>
								<option value="pocos chochitos">Pocos chochitos</option>
								<option value="muchos chochitos">Muchos chochitos</option>
							</select>
						</div>
						<div>
							<label class="specification__label"> Lechera </label>
							<select>
								<option value="lechera" selected>Lechera</option>
								<option value="s/lechera">Sin lechera</option>
								<option value="poca lechera">Poca lechera</option>
								<option value="mucha lechera">Mucha lechera</option>
							</select>
						</div>
						<div>
							<label class="specification__label"> Banderilla</label>
							<select>
								<option value="banderilla" selected>Banderilla</option>
								<option value="s/banderilla">Sin banderilla</option>
								<option value="banderilla extra">Banderilla extra</option>
							</select>
						</div>
					</div>
					<div class="specification__buttons">
						<button type="submit" class="btn btn-primary">Agregar detalle</button>
						<button type="button" class="btn btn-cancel">Eliminar producto</button>
					</div>
				</form>
			</section> -->

			<section class="products-container">
				<section class="section section-botanas">
					<h3 class="subtitle">Botanas</h3>
					<a data-arrow="botanas" class="arrow-down"> <img src="../../assets/icons/arrow-down.svg" alt="arrow down" /></a>
					<div id="botanas-container" class="desplegable-container" data-category="botanas"></div>
				</section>

				<section class="section section-desserts">
					<h3 class="subtitle">Postres</h3>
					<a data-arrow="desserts" class="arrow-down"> <img src="../../assets/icons/arrow-down.svg" alt="arrow down" /></a>
					<div id="desserts-container" class="desplegable-container" data-category="postres"></div>
				</section>

				<section class="section section-drinks">
					<h3 class="subtitle">Bebidas</h3>
					<a data-arrow="drinks" class="arrow-down"> <img src="../../assets/icons/arrow-down.svg" alt="arrow down" /></a>
					<div id="drinks-container" class="desplegable-container" data-category="bebidas"></div>
				</section>

				<section class="section section-others">
					<h3 class="subtitle">Otros</h3>
					<a data-arrow="others" class="arrow-down"> <img src="../../assets/icons/arrow-down.svg" alt="arrow down" /></a>
					<div id="others-container" class="desplegable-container" data-category="otros"></div>
				</section>

				<section class="section section-customized">
					<h3 class="subtitle">Personalizado</h3>
					<a data-arrow="customized" class="arrow-down"> <img src="../../assets/icons/arrow-down.svg" alt="arrow down" /></a>
					<div id="customized-container" class="desplegable-container" data-category="customized">
						<form id="form-customized" class="customized-options">
							<div>
								<label for="product-name">Nombre del producto</label>
								<input type="text" id="product-name" />
							</div>
							<div>
								<label for="product-price">Precio del producto</label>
								<input type="number" id="product-price" step="0.01" />
							</div>
							<div>
								<label for="quant-prod">Cantidad de producto</label>
								<select id="quant-prod" class="select-quantity">
									<!-- <option disabled selected value="">Seleccionar</option> -->
									<option value="1" selected>1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
								</select>
							</div>
							<div class="personalized-total-label">Total: $<span id="customized-total" class="customized-total"></span></div>
							<button id="btn-calc" class="btn btn-primary btn-calc" type="button">Calcular</button>
							<div>
								<button id="add-customized" type="submit" class="btn btn-save" disabled>Agregar</button>
								<button id="cancel-customized" type="button" class="btn btn-cancel">Cancelar</button>
							</div>
						</form>
					</div>
				</section>
				<button id="obj">obj</button>
				<section class="section section-specification">
					<h3 class="subtitle">Especificación</h3>
					<a data-arrow="specification" class="arrow-down">
						<img src="../../assets/icons/arrow-down.svg" alt="arrow down"
					/></a>
					<div
						id="specification-container"
						class="desplegable-container specification desplegable-container-specification"
						data-category="specification"
					>
						<section>
							<h4 class="specification__subtitle specification-esquites">Esquites</h4>
							<div class="specification" id="specification-esquites"></div>
						</section>
						<section>
							<h4 class="specification__subtitle specification-esquites-med">Esquites 1/2</h4>
							<div class="specification" id="specification-esquites-med"></div>
						</section>

						<section>
							<h4 class="specification__subtitle specification-doriesquite">Doriesquite</h4>
							<div class="specification" id="specification-doriesquite"></div>
						</section>
						<section>
							<h4 class="specification__subtitle specification-doriloco">Doriloco</h4>
							<div class="specification" id="specification-doriloco"></div>
						</section>
						<section>
							<h4 class="specification__subtitle specification-tostiloco">Tostiloco</h4>
							<div class="specification" id="specification-tostiloco"></div>
						</section>
						<section>
							<h4 class="specification__subtitle specification-fresas">Fresas con crema</h4>
							<div class="specification" id="specification-fresas"></div>
						</section>
						<section>
							<h4 class="specification__subtitle specification-fresas-med">Fresas con crema 1/2</h4>
							<div class="specification" id="specification-fresas-med"></div>
						</section>
						<section>
							<h4 class="specification__subtitle specification-gelatina">Gelatina con durazno</h4>
							<div class="specification" id="specification-gelatina"></div>
						</section>
						<section>
							<h4 class="specification__subtitle specification-gelatina-med">Gelatina con durazno 1/2</h4>
							<div class="specification" id="specification-gelatina-med"></div>
						</section>
						<section>
							<h4 class="specification__subtitle specification-manzana">Ensalada de manzana</h4>
							<div class="specification" id="specification-manzana"></div>
						</section>
						<section>
							<h4 class="specification__subtitle specification-manzana-med">Ensalada de manzana de 1/2</h4>
							<div class="specification" id="specification-manzana-med"></div>
						</section>
						<section>
							<h4 class="specification__subtitle specification-gomiboing">Gomiboing</h4>
							<div class="specification" id="specification-gomiboing"></div>
						</section>
					</div>
				</section>
			</section>
			<section class="order-specification-section">
				<h3 class="subtitle subtitle-details">Detalles de orden</h3>
				<label class="label-customer" for="customer-name">Nombre cliente (Opcional)</label>
				<input id="customer-name" class="client-name" type="text" />
				<label class="label-details" for="details">Información adicional (Opcional)</label>
				<textarea
					class="details-area"
					title="Especificación de orden"
					id="details"
					cols="30"
					rows="10"
					placeholder="Ejemplo: Esquite sin mayonesa"
				></textarea>
			</section>

			<section class="section-details">
				<table class="table-order">
					<thead>
						<tr>
							<th>PROD</th>
							<th>PU</th>
							<th>CAN</th>
							<th>PT</th>
							<th>OPC</th>
						</tr>
					</thead>
					<tbody id="products-table"></tbody>
					<tfoot>
						<tr>
							<td colspan="4">Total: $<span id="total-order">0</span></td>
						</tr>
					</tfoot>
				</table>
				<div class="options-order">
					<div class="received-bill-container">
						<div>
							<label class="label-money" for="money">Recibo: $</label>
							<input id="money" class="input-received-bill" type="number" step="0.01" disabled />
						</div>
					</div>
					<span class="money-exchanges">Cambio: $<span id="money-exchanges"></span></span>

					<div class="confirm-cancel-order">
						<button type="button" id="confirm" class="btn btn-primary btn-confirm" disabled>Confirmar</button>
						<button type="button" id="cancel" class="btn btn-cancel">Cancelar</button>
					</div>
				</div>
			</section>

			<div id="modal" class="modal">
				<div class="modal-content">
					<h2>¿Qué desea hacer?</h2>
					<button id="sinTicketBtn" class="btn btn-primary buttons-modal">Orden sin ticket</button>
					<button id="conTicketBtn" class="btn btn-save buttons-modal">Orden con ticket</button>
					<button id="cancelarBtn" class="btn btn-danger buttons-modal">Cancelar</button>
				</div>
			</div>

			<div id="ticketModal" class="modal">
				<div class="modal-content">
					<h2>Imprimir ticket</h2>
					<label for="macInput">Dirección MAC:</label>
					<input
						type="text"
						id="macInput"
						class="input-mac"
						placeholder="Ejemplo: 00:11:22:33:44:55"
						value="66:32:ED:C8:E2:59"
						disabled
					/>
					<div class="control" hidden>
						<input id="licencia" class="input" type="text" placeholder="Licencia si es que cuentas con ella" />
					</div>
					<button id="imprimirTicketBtn" class="btn btn-primary print-ticket-btn">Imprimir ticket</button>
					<button id="cancelarImpresionBtn" class="btn btn-danger print-cancel-btn">Cancelar</button>
				</div>
			</div>
		</main>
		<script src="../../js/app.js" type="module"></script>
		<script src="../../js/tickets/ConectorEscposAndroid.js" type="module"></script>
	</body>
</html>
