.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1440px;
}

.title {
	color: var(--color-pink);
	text-transform: uppercase;
	color: var(--dark-orange);
	text-align: center;
}

/* Botones */
.btn {
	padding: var(--pd-btn);
	background-color: #fff;
	color: var(--light-gray);
	font-weight: var(--fw-medium);
	border-radius: var(--br);
}

.btn-save {
	background-color: #5c9118;
}

.btn-primary {
	background-color: var(--light-blue);
}

.btn-danger {
	background-color: var(--dark-red);
}

.btn-edit {
	background-color: var(--pink-dark);
}

.btn-edit[disabled] {
	background-color: var(--color-disabled);
}

.btn-cancel {
	background-color: #f00101;
}

.btn-cancel[disabled] {
	--dark-red: #a703007a;
	background-color: var(--color-disabled);
}

/* Alertas */
.error,
.error-modal {
	color: var(--dark-red);
	padding-block: 0.5em;
	font-size: var(--fs-base);
}
.error-product {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #c62828;
	color: var(--light-gray);
	text-align: center;
	padding-block: 0.8em;
	z-index: 50;
	font-size: var(--fs-base);
}
.error-modal {
	position: absolute;
	top: 9em;
	left: 3.8rem;
	padding: 0;
}
