.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1440px;
}

.title {
	color: var(--color-pink);
	text-transform: uppercase;
	color: var(--dark-orange);
	text-align: center;
}

/* Botones */
.btn {
	padding: var(--pd-btn);
	background-color: #fff;
	color: var(--light-gray);
	font-weight: var(--fw-medium);
	border-radius: var(--br);
}

.btn-save {
	background-color: #5c9118;
}

.btn-primary {
	background-color: var(--light-blue);
}

.btn-danger {
	background-color: var(--dark-red);
}

.btn-edit {
	background-color: var(--pink-dark);
}

.btn-edit[disabled] {
	background-color: var(--color-disabled);
}

.btn-cancel {
	background-color: #f00101;
}

.btn-cancel[disabled] {
	--dark-red: #a703007a;
	background-color: var(--color-disabled);
}

/* Alertas */
.error {
	color: var(--dark-red);
	padding-block: 0.5em;
	font-size: var(--fs-base);
}
.error-product {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--dark-red);
	color: var(--light-gray);
	text-align: center;
	padding-block: 0.8em;
	z-index: 50;
	font-size: var(--fs-base);
}

table {
	--dark-blue: #1a2835a8;
	width: 100%;
	margin-bottom: var(--gap-md);
	background-color: var(--dark-blue);
	color: #ffffffcb;
}

thead {
	height: 2em;
}

thead th {
	margin-right: 1.5em;
	background-color: #27649ca8;
	color: #ffffff9d;
}

thead th:nth-child(2),
thead th:nth-child(3),
thead th:nth-child(4) {
	padding: 0 0.3em;
}

tbody tr:nth-child(odd) {
	height: 2em;
}
tbody tr td:last-child {
	display: flex;
	justify-content: center;
	align-items: center;
}

tbody tr:nth-child(even) {
	background-color: #27639c2a;
}

tbody td {
	text-align: center;
}

tbody tr td:nth-child(2) {
	color: #8b8b8b80;
}

tfoot td {
	text-align: right;
	color: #ffffff96;
	font-size: 1.2rem;
}
