.btn-readPrices {
	display: block;
	width: 100%;
	background-color: var(--dark-green);
	margin-left: auto;
}

.btn-save-config[disabled] {
	color: var(--color-disabled);
}

.btn-save-config[disabled] {
	background-color: var(--color-disabled);
}

.btn-deleted {
	background-color: #da8c17;
}

/* ---------- form styles configuration---------- */

.form__field {
	position: relative;
	margin-bottom: 0.5em;
}

.category-container {
	border-bottom: 1px solid #c4b4b448;
	margin-bottom: 1.5em;
}

.category-container h3 {
	color: var(--dark-gray);
}

.form__field--config {
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 4rem;
	background-color: var(--almost-dark-gray);
	padding: 0.6em 0;
	z-index: 1;
}

.label {
	--dark-orange: #d1831da4;
	position: relative;
	font-weight: var(--fw-semi-bold);
	color: var(--dark-orange);
}

.label-active {
	--dark-orange: #d1831d;
	color: var(--dark-orange);
	filter: drop-shadow(0px 0px 20px #fff);
	font-weight: var(--fw-bold);
}

.form__input-config-main,
.form__input-config-product {
	width: 100%;
	background-color: #fff;
	padding-left: 1.4rem;
}

.form__input-options {
	position: relative;
	display: flex;
	gap: var(--gap-sm);
}

.currency {
	position: absolute;
	left: 0;
	bottom: 1.3px;
	font-size: 1.37rem;
	padding-left: 0.4rem;
	color: var(--light-gray);
}

.currency-black,
.currency-product {
	color: black;
}

.form__input-options input[disabled] {
	--light-gray: #f5f5f596;
	background-color: var(--color-disabled);
	color: var(--light-gray);
}

.form__input-config-main:focus,
.form__input-config-product:focus {
	outline: 2px solid var(--dark-orange);
	box-shadow: 0px 0px 4px 3px var(--dark-orange);
}

.btn-edit-config,
.btn-cancel-config,
.btn-deleted-config {
	padding: 0 1.2em;
}

/* Form new product */
.form-product-new {
	display: none;
	position: fixed;
	padding: 1em;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: var(--almost-dark-gray);
	border-radius: var(--br);
	z-index: 5;
	/* border: 1px solid red; */
}

.form-product-new.is-active {
	display: block;
}

.form__field-product {
	display: flex;
	justify-content: center;
	gap: var(--gap-md);
	margin-top: 2em;
}

/* -------------------------------------- */
