.container-buttons {
	display: flex;
	justify-content: center;
	gap: var(--gap-lg);
	margin-bottom: 1.5em;
}

/* .table-inversion thead,
.table-inversion caption {
	display: block;
	position: sticky;
}

.table-inversion thead {
	margin-bottom: 1.4rem;
}

.table-inversion thead th {
	width: 100%;
	border: 1px solid red;
}

.table-inversion thead th:first-child {
	width: 60%;
}

.table-inversion thead th:nth-child(2) {
	width: 20%;
}

.table-inversion thead th:nth-child(3) {
	width: 20%;
}

.table-inversion tbody {
	display: block;
	max-height: 300px;
	overflow-y: auto;
}

.table-inversion tbody td {
	width: 100%;
	border: 1px solid red;
}

.table-inversion tbody td:first-child {
	width: 50%;
} */
