.container-btns {
	display: flex;
	gap: var(--gap-md);
}

.expense {
	display: flex;
	flex-direction: column;
	gap: 1em;
	justify-content: center;
	margin-bottom: 1.5rem;
}

.form__expense-label {
	font-weight: 500;
	color: #a87f32;
}

::placeholder {
	color: #3333339f;
	font-style: italic;
	font-size: 0.9rem;
}

.input {
	border-radius: 0.3em;
	padding-left: 1em;
	height: 35px;
	border: 2px solid var(--input-border);
	font-size: 1rem;
}
.input:focus,
.input:focus {
	outline: 2px solid var(--dark-orange);
	box-shadow: 0px 0px 4px 3px var(--dark-orange);
}

.form__field {
	display: flex;
	flex-direction: column;
}
