.section > * {
	/* border: 1px solid rgba(255, 0, 0, 0.315); */
}

.products-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
	gap: var(--gap-md);
}

.section {
	z-index: 2;
	padding-bottom: var(--gap-md);
	border-bottom: 1px solid #ccc3c3;
	overflow: hidden;
	/* border: 1px solid red; */
}

.subtitle {
	color: var(--dark-gray);
	text-align: center;
	margin-bottom: 0.5em;
}

.product > * {
	/* border: 1px solid yellow; */
}

.arrow-down {
	--dark-gray: #7f7f7f34;
	display: block;
	/* width: 4; */
	height: 2.5em;
	/* background-image: url(/src/assets/icons/arrow-down.svg); */
	background-color: var(--dark-gray);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	transition: background-image 0.3s ease-out;
}

.desplegable-container {
	/* border: 1px solid red; */
	--dark-blue: #1a2835a8;
	display: none;
	padding: 0.5em 0;
	background-color: var(--dark-blue);
	transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.desplegable-container-active {
	display: block;
}

.product {
	display: grid;
	grid-template-columns: min(100px, 100%) 1fr;
}

.product:not(.product:last-child) {
	margin-bottom: 1em;
}

.product__title {
	margin: 0;
	color: var(--sky-blue);
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 0.5em;
	text-align: center;
}

.product__options {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 1.5em;
	padding-inline: var(--pd-sm);
}

.product__contain-btn {
	display: flex;
	gap: var(--gap-lg);
}

.product__btn {
	padding: 0;
	width: 2.8em;
	height: 2.1em;
}

.product__btn:active {
	transform: scale(0.8);
}

.btn-add,
.btn-remove {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.btn-add {
	background-color: var(--dark-green);
	background-image: url(/src/assets/icons/add.svg);
}

.btn-remove {
	background-color: var(--pink-dark);
	background-image: url(/src/assets/icons/remove.svg);
}

.product__container-quantity {
	display: flex;
	justify-content: space-between;
	gap: var(--gap-md);
	/* border: 1px solid orange; */
}

.product__container-quantity > * {
	/* border: 1px solid red; */
}

.product__quantity {
	width: 20px;
	height: 26px;
	color: var(--light-gray);
}

.product__symbol,
.product__price {
	--pure-yellow: #8b8b8b80;
	color: var(--pure-yellow);
	/* border: 1px solid red; */
}

.product-active {
	--pure-yellow: #ffd50080;
	color: var(--pure-yellow);
}

.order-specification-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* border: 1px solid white; */
	margin: 1em 0;
}

.label-details {
	color: var(--bright-yellow);
}

.details-area {
	resize: none;
	width: 100%;
	height: 100px;
	background-color: var(--dark-blue);
	color: #fff;
}

.subtitle-details {
	/* filter: drop-shadow(0px 0px 25px #fff); */
	/* color: #e26e21a1; */
}

.label-customer {
	display: block;
	text-align: center;
	color: #fff;
}

.client-name {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: var(--gap-md);
	text-align: center;
	background-color: var(--dark-blue);
	color: var(--light-gray);
}

table {
	--dark-blue: #1a2835a8;
	/* border: 1px solid rgba(255, 255, 255, 0.459); */
	width: 100%;
	margin-bottom: var(--gap-md);
	background-color: var(--dark-blue);
	color: #ffffffcb;
}

thead {
	height: 2em;
}

thead th {
	margin-right: 1.5em;
	/* border: 1px solid white; */
	background-color: #27649ca8;
	color: #ffffff9d;
}

thead th:nth-child(2),
thead th:nth-child(3),
thead th:nth-child(4) {
	padding: 0 0.3em;
}

tbody tr:nth-child(odd) {
	height: 2em;
}
tbody tr td:last-child {
	display: flex;
	justify-content: center;
	align-items: center;
}

tbody tr:nth-child(even) {
	background-color: #27639c2a;
}

tbody td {
	text-align: center;
}

tfoot td {
	text-align: right;
	color: #ffffff96;
	font-size: 1.2rem;
}

.options-order > * {
	/* border: 1px solid red; */
}

.options-order {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: var(--gap-md);
}

.received-bill-container {
	display: flex;
	align-items: center;
	gap: var(--gap-lg);
}

.label-money {
	color: #ffffff98;
	font-size: 1.5rem;
}

.input-received-bill {
	background-color: #f5e3e38a;
	border-bottom: 1px solid white;
	border-radius: 0;
	width: 80px;
	height: 40px;
	text-align: center;
	font-size: 1.5rem;
}

.bill {
	/* display: block; */
	height: 2.5em;
	font-size: 1.2rem;
}

.confirm-cancel-order {
	display: flex;
	gap: var(--gap-md);
}

.money-exchanges {
	font-size: 1.5rem;
	color: #ffffff98;
}
