.products-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
	gap: var(--gap-md);
}

.section {
	padding-bottom: var(--gap-md);
}

.subtitle {
	color: var(--dark-gray);
	text-align: center;
	margin-bottom: 0.5em;
}

.arrow-down {
	--dark-gray: #7f7f7f34;
	display: flex;
	justify-content: center;
	height: 2.5em;
	background-color: var(--dark-gray);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.arrow-down img {
	pointer-events: none;
	transition: transform 0.4s;
}

.arrow-down.active img {
	transform: rotateX(180deg);
}

.desplegable-container {
	--dark-blue: #1a242e;
	position: absolute;
	width: 100%;
	transform-origin: top;
	transform: scaleY(0);
	padding: 2em 0;
	background-color: var(--dark-blue);
	transition: transform 0.2s ease-in;
}

.desplegable-container:empty::before {
	content: 'Sin productos';
	color: #fff;
	text-align: center;
}

.desplegable-container-active {
	transform: scaleY(1);
	transition: transform 0.2s ease-in;
	position: relative;
}

.product {
	display: grid;
	grid-template-columns: min(100px, 100%) 1fr;
}

.product:nth-child(even) .product__title {
	color: #70828d;
}

.product:not(.product:last-child) {
	margin-bottom: 1em;
}

.product__title {
	margin: 0;
	color: #1c93d8;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 0.5em;
	text-align: center;
}

.product__options {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: var(--gap-sm);
	padding-inline: var(--pd-sm);
}

.product__contain-btn {
	display: flex;
	gap: var(--gap-lg);
}

.product__btn {
	padding: 0;
	width: 2.8em;
	height: 2.1em;
}

.product__btn:active {
	transform: scale(0.8);
}

.btn-add,
.btn-remove {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	font-size: 1.2rem;
	text-align: center;
	line-height: 2.1em;
}

.btn-add {
	background-color: var(--light-blue);
}

.btn-remove {
	background-color: var(--pink-dark);
}

.product__container-quantity {
	display: flex;
	justify-content: space-between;
	gap: var(--gap-sm);
	/* border: 1px solid orange; */
}

.product__container-quantity > * {
	/* border: 1px solid red; */
}

.product__quantity {
	width: 20px;
	height: 26px;
	color: var(--light-gray);
}

.product__symbol,
.product__price {
	--pure-yellow: #8b8b8b80;
	color: var(--pure-yellow);
}

.product-active {
	/* color: #da790b; */
	color: #1c93d8;
	filter: drop-shadow(0px 0px 10px #1c93d8);
}

.order-specification-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em 0;
}

.label-details {
	color: var(--bright-yellow);
}

.details-area {
	resize: none;
	width: 100%;
	height: 100px;
	background-color: var(--dark-blue);
	color: #fff;
}

.label-customer {
	display: block;
	text-align: center;
	color: #2879c5d2;
	font-weight: var(--fw-medium);
}

.client-name {
	display: block;
	border: 2px solid #145a9b81;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: var(--gap-md);
	text-align: center;
	background-color: var(--dark-blue);
	color: var(--light-gray);
}

.client-name:focus {
	--dark-blue-input: #145a9b81;
	border: 2px solid var(--dark-blue-input);
	box-shadow: 0px 0px 4px 3px var(--dark-blue-input);
}

.options-order > * {
	/* border: 1px solid red; */
}

.options-order {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: var(--gap-md);
}

.received-bill-container {
	display: flex;
	align-items: center;
	gap: var(--gap-lg);
}

.label-money {
	color: #ffffff98;
	font-size: 1.2rem;
}

.input-received-bill {
	background-color: #eff1f3;
	color: #000000bb;
	border-radius: 0;
	width: 80px;
	height: 40px;
	text-align: center;
	font-size: 1.5rem;
}

.input-received-bill[disabled] {
	background-color: var(--color-disabled);
}

.bill {
	/* display: block; */
	height: 2.5em;
	font-size: 1.2rem;
}

.confirm-cancel-order {
	display: flex;
	gap: var(--gap-md);
}

.btn-confirm[disabled] {
	background-color: var(--color-disabled);
}

.money-exchanges {
	font-size: 1.5rem;
	color: #ffffff98;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: #fefefe;
	margin: 20% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 300px;
	text-align: center;
}

button {
	margin: 10px;
	margin-bottom: 2em;
}

.order-exit {
	background-color: #5bbd34;
	position: fixed;
	top: 0;
	width: 100%;
	color: var(--light-gray);
	text-align: center;
	padding-block: 0.8em;
	z-index: 50;
	font-size: var(--fs-base);
}
