@media (min-width: 620px) {
	.main {
		width: 50%;
	}
}
.products-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr));
	gap: var(--gap-md);
}

.section {
	overflow: hidden;
}

.customized-options {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 1em;
}

.customized-options input {
	display: block;
	width: 80%;
	border: 2px solid #e7800a;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: #f0e4e4;
}

.customized-options label,
.personalized-total-label {
	color: #ffffffcb;
}

.select-quantity {
	text-align: center;
}

.subtitle {
	color: var(--dark-gray);
	text-align: center;
	position: relative;
	z-index: 1;
	background-color: var(--almost-dark-gray);
}

.arrow-down {
	--dark-gray: #2e3134;
	display: flex;
	justify-content: center;
	height: 2.5em;
	background-color: var(--dark-gray);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border-radius: var(--br);
	position: relative;
	z-index: 5;
}

.arrow-down img {
	pointer-events: none;
	transition: transform 0.4s;
}

.arrow-down.active img {
	transform: rotateX(180deg);
}

.desplegable-container {
	--dark-blue: #1a242e;
	width: 100%;
	transform-origin: top;
	position: absolute;
	transform: translateY(-100%);
	padding: 2em 0;
	background-color: var(--dark-blue);
	border-radius: var(--br);
	visibility: hidden;
}

.desplegable-container:empty::before,
.desplegable-container-specification:empty::before {
	display: block;
	content: 'No se han configurado productos en el sistema. Por favor, diríjase a la sección de configuración para agregarlos';
	color: #ffffffa4;
	text-align: center;
	padding: 0 0.3em;
}
.desplegable-container-specification:empty::before {
	content: 'No se han agregado productos al carrito';
}

.desplegable-container-active {
	transform: translateY(0);
	transition: transform 0.2s ease-in;
	position: relative;
	visibility: visible;
}

.product {
	display: flex;
	justify-content: center;
	width: 100%;
}

.product:nth-child(even) .product__title {
	color: #70828d;
}

.product:not(.product:last-child) {
	margin-bottom: 1em;
}

.product__title {
	margin: 0;
	color: #1c93d8;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 125px;
}

.product__options {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 0.3em;
	padding-inline: 0.2em;
	width: 200px;
}

.product__contain-btn {
	display: flex;
	gap: var(--gap-sm);
}

.product__btn {
	padding: 0;
	width: 2.8em;
	height: 2.1em;
}

.product__btn:active {
	transform: scale(0.8);
}

.btn-add,
.btn-remove {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	font-size: 1.2rem;
	text-align: center;
	line-height: 2.1em;
}

@media (min-width: 300px) and (max-width: 350px) {
	.product__btn {
		width: 2em;
		height: 1.8em;
	}

	.btn-add,
	.btn-remove {
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		font-size: 1.2rem;
		text-align: center;
		line-height: 1.8em;
	}
}

.btn-add {
	background-color: var(--light-blue);
}

.btn-remove {
	background-color: var(--pink-dark);
}

.delete-prod {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 35px;
	height: 35px;
	background-color: transparent;
	border-radius: 50%;
	border: 3px solid #426aa7;
	padding: 4px;
	margin: 0.5em 0;
}

.delete-prod::before,
.delete-prod::after {
	content: '';
	display: block;
	height: 3px;
	background-color: #c2bfbf;
	border-radius: 1em;
}

.delete-prod::before {
	transform: rotate(45deg);
}

.delete-prod::after {
	transform: rotate(-45deg);
}

.product__container-quantity {
	display: flex;
	justify-content: space-between;
	gap: var(--gap-sm);
}

.product__quantity {
	width: 20px;
	height: 26px;
	color: var(--light-gray);
}

.product__symbol,
.product__price {
	--pure-yellow: #8b8b8b80;
	color: var(--pure-yellow);
}

.product-active {
	color: #1c93d8;
	filter: drop-shadow(0px 0px 10px #1c93d8);
}

.order-specification-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em 0;
}

.label-details {
	color: var(--bright-yellow);
}

.details-area {
	resize: none;
	width: 100%;
	height: 100px;
	background-color: var(--dark-blue);
	color: #fff;
	border-radius: var(--br);
	white-space: pre-line;
}

.label-customer {
	display: block;
	text-align: center;
	color: #2879c5d2;
	font-weight: var(--fw-medium);
}

.client-name {
	display: block;
	border: 2px solid #145a9b81;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: var(--gap-md);
	text-align: center;
	background-color: var(--dark-blue);
	color: var(--light-gray);
}

.client-name:focus {
	--dark-blue-input: #145a9b81;
	border: 2px solid var(--dark-blue-input);
	box-shadow: 0px 0px 4px 3px var(--dark-blue-input);
}

.options-order {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: var(--gap-md);
}

.received-bill-container {
	display: flex;
	align-items: center;
	gap: var(--gap-lg);
}

.label-money {
	color: #ffffff98;
	font-size: 1.2rem;
}

.input-received-bill {
	background-color: #eff1f3;
	color: #000000bb;
	width: 150px;
	height: 40px;
	text-align: center;
	font-size: 1.5rem;
}

.input-received-bill[disabled] {
	background-color: var(--color-disabled);
}

.bill {
	height: 2.5em;
	font-size: 1.2rem;
}

.confirm-cancel-order {
	display: flex;
	gap: var(--gap-md);
}

.btn-confirm[disabled] {
	background-color: var(--color-disabled);
}

.money-exchanges {
	font-size: 1.5rem;
	color: #ffffff98;
}

.buttons-modal {
	margin: 10px;
	margin-bottom: 2em;
}

.error {
	color: red;
	font-weight: bold;
	padding: 0;
}

.btn-calc {
	width: max-content;
	margin-left: auto;
	margin-right: auto;
}

.btn-save[disabled] {
	background-color: var(--color-disabled);
}

/* especification styles producst */

.specification__subtitle {
	color: var(--dark-gray);
	text-align: center;
	margin: 0;
}

.specification-esquites,
.specification-esquites-med,
.specification-doriesquite,
.specification-doriloco,
.specification-tostiloco,
.specification-fresas,
.specification-fresas-med,
.specification-gelatina,
.specification-gelatina-med,
.specification-manzana,
.specification-manzana-med,
.specification-gomiboing {
	display: none;
}

.specification-active {
	display: block;
}

.specification {
	--dark-blue: #1a242e;
	display: flex;
	flex-direction: column;
	gap: var(--gap-sm);
	background-color: var(--dark-blue);
}

.specification__container {
	display: flex;
	flex-direction: column;
	gap: var(--gap-sm);
	margin-bottom: 1.5em;
}

.specification__container > * {
	border: 1px solid rgba(177, 166, 166, 0.164);
}

.specification__container label {
	display: flex;
	align-items: center;
	gap: var(--gap-md);
	color: rgb(103, 153, 194);
}

.specification__container select {
	width: 150px;
}

.specification__container input {
	accent-color: #1f9974;
}

.specification__select {
	display: flex;
	gap: var(--gap-sm);
	margin-bottom: var(--gap-md);
}

.specification__select select {
	width: 40%;
	height: 30px;
}

.specification__prod {
	border-bottom: 1px solid rgba(202, 198, 198, 0.575);
	border-top: 1px solid rgba(202, 198, 198, 0.575);
	padding: 1em 0.3em;
}
.specification__prod-name {
	color: #ddd;
	font-weight: var(--fw-bold);
	filter: drop-shadow(0px 0px 9px yellow);
	margin: 0;
}
.specification__buttons {
	display: flex;
	justify-content: center;
	height: 30px;
	gap: var(--gap-sm);
}

.specification__buttons button {
	padding: 0 0.5em;
}

@media (min-width: 320px) and (max-width: 350px) {
	.specification__buttons button {
		padding: 0 0.5em;
		font-size: 13px;
	}
}
