.container-pdg-ventas {
	display: flex;
	justify-content: center;
	gap: var(--gap-sm);
	margin-bottom: 1rem;
}

.btn-del-order {
	background-color: var(--dark-red);
	font-size: 15.5px;
	color: #d2deda;
}

.btn-del-order[disabled] {
	background-color: var(--color-disabled);
}

tbody tr td:nth-child(3) {
	color: #ffffffcb;
}

.table-products tr td:nth-child(4) {
	color: #04e60498;
	font-weight: var(--fw-semi-bold);
}

.table-egresos tr td:nth-child(2) {
	color: rgb(190, 82, 82);
	font-weight: var(--fw-semi-bold);
}

.ganancia {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--gap-sm);
	background-color: #1a242e;
	padding: 2em 0;
}

.ganancia h2 {
	margin: 0;
	color: rgb(26, 100, 134);
}

.ganancia p {
	margin: 0;
}

.ganancia__products,
.ganancia__egresos,
.ganancia__total {
	color: #ffffff9c;
}

.ganancia__products span,
.ganancia__egresos span,
.ganancia__total span {
	color: #ffffffb4;
	font-size: 1.1rem;
	font-weight: var(--fw-semi-bold);
}

.ganancia__products span {
	color: #04e60498;
}

.ganancia__egresos span {
	color: rgb(190, 82, 82);
}

.ganancia__total span {
	color: rgb(11, 245, 11);
}

/* modal password */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 10;
}

.modal-content {
	position: relative;
	background-color: #fefefe;
	top: 10%;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 300px;
	text-align: center;
	height: 260px;
}

.modal-content-ticket {
	height: 340px;
	color: black;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.passwordInput {
	position: absolute;
	left: 1em;
	top: 7.8rem;
	width: 90%;
	text-align: center;
	margin-bottom: 10px;
	padding: 5px;
	border: 2px solid rgb(243, 49, 49);
}

.submitBtn {
	background-color: #4caf50;
	margin-top: 50px;
	color: white;
	padding: 8px 12px;
	border: none;
	cursor: pointer;
}
