:root {
	/* colors */
	--dark-blue: #1a2835;
	--bright-yellow: #ffd500c2;
	--pure-yellow: #ffd500;
	--dark-red: #c3423f;
	--dark-gray: #7f7f7f;
	--dark-green: #0f967a;
	--light-gray: #f5f5f5;
	--almost-dark-gray: #191d21;
	--bg-color-body: #1d1e26;
	--sky-blue: #52a5bf;
	--light-blue: #087ea4;
	--text-black: #000200;
	--bg-alert-exit: #5c9118;
	--color-pink: #ff0066a1;
	--pink-dark: #d4124dc0;
	--color-purple: #990099;
	--dark-orange: #d1831d;
	--color-disabled: #ffffff31;

	/* typography */
	--f-family: 'Poppins', sans-serif;
	--fs-base: 1rem;
	--fs-sm: 0.8rem;
	--fs-lg: 1.4rem;
	--fw-normal: 400;
	--fw-medium: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;

	/* spacing */
	--gap-sm: 0.5em;
	--gap-md: 1em;
	--gap-lg: 1.5em;

	/* buttoons*/
	--pd-btn: 0.7em 1.5em;
	--br: 0.3em;

	/* paddings */
	--pd-lg: min(1.5em, 8vw);
	--pd-sm: 1em;
	--pd-btn-sm: 0.3em 0.8em;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth; /* Aplicar un desplazamiento suave */
}

a {
	text-decoration: none;
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

h3 {
	margin: 0;
}

select:focus {
	outline: none;
}

ul {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

input {
	border: 0;
	border-radius: var(--br);
	height: 35px;
}

input:focus {
	outline: 0;
}

button {
	border: 0;
	outline: none;
}

/* ---------- layout styles ---------- */

body {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 1fr;
	grid-template-areas:
		'header'
		'main';
	margin: 0;
	background-color: var(--almost-dark-gray);
	font-family: var(--f-family);
	font-weight: 400;
	font-size: var(--fs-base);
}

.header {
	position: sticky;
	top: 0;
	z-index: 10;
	grid-area: header;
	background-color: var(--almost-dark-gray);
}

.main-nav {
	display: flex;
	padding: 0 min(1em, 10%);
	justify-content: space-between;
	background-color: var(--almost-dark-gray);
	margin-top: 1em;
}

.figure {
	width: 5rem;
	height: 100%;
}

.container-options {
	display: flex;
	gap: var(--gap-lg);
}

.hamburger-icon {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 40px;
}
.hamburger-icon__line {
	height: 5px;
	width: 100%;
	background-color: var(--light-gray);
}

.menu {
	display: flex;
	flex-direction: column;
	position: fixed;
	background-color: var(--light-gray);
	width: 91%;
	top: 75px;
	box-shadow: 0 0 15px 2px #fff;
	border-radius: var(--br);
	transform: translateX(110%);
	transition: transform 0.4s ease-in-out;
	z-index: 5;
}

.menu.is-active {
	transform: translateX(0%);
}

.menu__item {
	padding: var(--pd-lg);
	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px solid #33333333;
}

.menu__link {
	position: relative;
	font-weight: var(--fw-medium);
	font-size: var(--fs-lg);
	transform: translateZ(0);
	color: var(--almost-dark-gray);
}

.menu__link:nth-child(1)::after {
	content: '';
	position: absolute;
	border-radius: var(--br);
	width: 120%;
	height: 6px;
	left: 50%;
	bottom: 4px;
	z-index: -1;
	transform: translateX(-50%);
}

.menu__link--yellow {
	filter: drop-shadow(2px 2px 5px var(--pure-yellow));
}
.menu__link--yellow:nth-child(1)::after {
	background-color: var(--pure-yellow);
}

.menu__link--cyan {
	filter: drop-shadow(2px 2px 5px var(--sky-blue));
}
.menu__link--cyan:nth-child(1)::after {
	background-color: var(--sky-blue);
}

.menu__link--green {
	filter: drop-shadow(2px 2px 5px var(--dark-green));
}
.menu__link--green:nth-child(1)::after {
	background-color: var(--dark-green);
}

/* Styles menu responsive */

@media (min-width: 640px) {
	.hamburger-icon {
		display: none;
	}

	.menu {
		display: flex;
		flex-direction: row;
		align-items: center;
		position: initial;
		background-color: transparent;
		width: auto;
		top: 0;
		box-shadow: none;
		border-radius: initial;
		transform: none;
		transition: none;
	}

	.menu__item {
		padding: var(--pd-sm);
		text-transform: uppercase;
		text-align: center;
		border-bottom: none;
		filter: drop-shadow(0px 0px 60px white);
	}

	.menu__link {
		font-size: var(--fs-md);
		color: #bdbaba;
		font-weight: var(--fw-bold);
	}

	.menu__link:nth-child(1)::after {
		bottom: -2px;
	}

	.menu__link--yellow {
		filter: none;
	}

	.menu__link--cyan {
		filter: none;
	}

	.menu__link--green {
		filter: none;
	}
}

.main {
	grid-area: main;
	min-height: 100vh;
	position: relative;
	padding-bottom: 4em;
}

/* -------------------------------------- */
table {
	--dark-blue: #1a2835a8;
	width: 100%;
	margin-bottom: var(--gap-md);
	background-color: var(--dark-blue);
	color: #ffffffcb;
	border-radius: var(--br);
	overflow: hidden;
}

thead {
	height: 2em;
}

thead th {
	margin-right: 1.5em;
	background-color: #27649ca8;
	color: #ffffff9d;
}

thead th:nth-child(2),
thead th:nth-child(3),
thead th:nth-child(4) {
	padding: 0 0.3em;
}

tbody tr:nth-child(odd) {
	height: 2em;
}
tbody tr td:last-child {
	display: flex;
	justify-content: center;
	align-items: center;
}

tbody tr:nth-child(even) {
	background-color: #27639c2a;
}

tbody td {
	text-align: center;
}

tbody tr td:nth-child(2) {
	color: #8b8b8b80;
}
tbody tr td:nth-child(3) {
	color: #04e60498;
}

tfoot td {
	text-align: right;
	color: #ffffff96;
	font-size: 1.2rem;
}

/* Syles modal ticket */
.modal {
	display: none;
	position: fixed;
	z-index: 6;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: #fefefe;
	margin: 20% auto;
	padding: 20px;
	padding-bottom: 50px;
	border: 1px solid #888;
	width: 300px;
	text-align: center;
	border: 1px solid red;
}
.order-exit {
	background-color: #5bbd34;
	position: fixed;
	top: 0;
	width: 100%;
	color: var(--light-gray);
	text-align: center;
	padding-block: 0.8em;
	z-index: 50;
	font-size: var(--fs-base);
}

.input-mac {
	display: block;
	width: 100%;
	border: 2px solid orange;
	text-align: center;
}

.print-ticket-btn {
	margin: 0;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

.print-cancel-btn {
	margin: 0;
}
