<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Esquiteria</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="/src/css/normalize.css" />
		<link rel="stylesheet" href="/src/css/styles.css" />
		<link rel="stylesheet" href="/src/css/loader.css" />
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	</head>
	<body class="body">
		<header class="header">
			<nav class="container main-nav">
				<figure class="figure">
					<a href="/src/index.html">
						<img class="logo" src="/src/assets/img/Esquiteria 2.png" alt="logo" />
					</a>
				</figure>
				<ul id="menu" class="menu">
					<li class="menu__item">
						<a href="/src/views/order/order.html" class="link menu__link menu__link--yellow" title="Ir a tomar orden"
							>Tomar orden</a
						>
					</li>
					<li class="menu__item">
						<a
							href="/src/views/orders-list/orders-list.html"
							class="link menu__link menu__link--cyan"
							title="Ir a lista de ordenes"
							>Lista de ordenes</a
						>
					</li>
					<li class="menu__item">
						<a
							href="/src/views/products-sold/products-sold.html"
							class="link menu__link menu__link--green"
							title="Ir a historial de productos"
							>Ventas del día</a
						>
					</li>
				</ul>
				<div class="container-options">
					<a href="/src/views/configuration/configuration.html">
						<img id="config" src="/src/assets/icons/settings.svg" alt="configuración" />
					</a>
					<div id="hamburger-icon" class="hamburger-icon">
						<div class="hamburger-icon__line"></div>
						<div class="hamburger-icon__line"></div>
						<div class="hamburger-icon__line"></div>
					</div>
				</div>
			</nav>
		</header>
		<main class="container main">
			<section class="config-container">
				<h2 class="title">Configuración</h2>
				<form id="form-config" class="form" action="#">
					<div class="form__field form__field--config">
						<input id="new-product" class="btn btn-primary" type="button" value="Nuevo" />
						<input id="btn-save-config" class="btn btn-save btn-save-config" type="submit" value="Guardar" disabled />
					</div>

					<section id="botanas-config" class="category-container">
						<h3>Botanas</h3>
						<div class="form__field">
							<label class="label" for="esq">Esquite</label>
							<div class="form__input-options">
								<input
									id="esq"
									class="form__input-config"
									type="number"
									step="0.01"
									name="esquite"
									placeholder="Precio de esquite"
									disabled
								/>
								<button type="button" class="btn btn-edit btn-edit-config">Editar</button>
							</div>
						</div>
						<div class="form__field">
							<label class="label" for="de">Doriesquite</label>
							<div class="form__input-options">
								<input
									id="de"
									class="form__input-config"
									type="number"
									step="0.01"
									name="doriesquite"
									placeholder="Precio de doriesquite"
									disabled
								/>
								<button type="button" class="btn btn-edit btn-edit-config">Editar</button>
							</div>
						</div>
						<div class="form__field">
							<label class="label" for="dl">Doriloco</label>
							<div class="form__input-options">
								<input
									id="dl"
									class="form__input-config"
									type="number"
									step="0.01"
									name="doriloco"
									placeholder="Precio de doriloco"
									disabled
								/>
								<button type="button" class="btn btn-edit btn-edit-config">Editar</button>
							</div>
						</div>
						<div class="form__field">
							<label class="label" for="tl">Tostiloco</label>
							<div class="form__input-options">
								<input
									id="tl"
									class="form__input-config"
									type="number"
									step="0.01"
									name="tostiloco"
									placeholder="Precio de tostiloco"
									disabled
								/>
								<button type="button" class="btn btn-edit btn-edit-config">Editar</button>
							</div>
						</div>
					</section>
					<section id="desserts-config" class="category-container">
						<h3>Postres</h3>
						<div class="form__field">
							<label class="label" for="fe">Fresas con crema</label>
							<div class="form__input-options">
								<input
									id="fe"
									class="form__input-config"
									type="number"
									step="0.01"
									name="fresas"
									placeholder="Precio de fresas con crema"
									disabled
								/>
								<button type="button" class="btn btn-edit btn-edit-config">Editar</button>
							</div>
						</div>
						<div class="form__field">
							<label class="label" for="ge">Gelatina con durazno</label>
							<div class="form__input-options">
								<input
									id="ge"
									class="form__input-config"
									type="number"
									step="0.01"
									name="gelatina"
									placeholder="Precio de gelatina con durazno"
									disabled
								/>
								<button type="button" class="btn btn-edit btn-edit-config">Editar</button>
							</div>
						</div>
						<div class="form__field">
							<label class="label" for="en">Ensalada de manzana</label>
							<div class="form__input-options">
								<input
									id="en"
									class="form__input-config"
									type="number"
									step="0.01"
									name="ensalada"
									placeholder="Precio ensalada de manzana"
									disabled
								/>
								<button type="button" class="btn btn-edit btn-edit-config">Editar</button>
							</div>
						</div>
					</section>
					<section id="drinks-config" class="category-container">
						<h3>Bebidas</h3>
						<div class="form__field">
							<label class="label" for="boing">Gomi Boing</label>
							<div class="form__input-options">
								<input
									id="boing"
									class="form__input-config"
									type="number"
									step="0.01"
									name="boing"
									placeholder="Precio gomiboing"
									disabled
								/>
								<button type="button" class="btn btn-edit btn-edit-config">Editar</button>
							</div>
						</div>
						<div class="form__field">
							<label class="label" for="afl">Agua fresca 1L</label>
							<div class="form__input-options">
								<input
									id="afl"
									class="form__input-config"
									type="number"
									step="0.01"
									name="aguaFrescaLitro"
									placeholder="Precio agua fresca 1L"
									disabled
								/>
								<button type="button" class="btn btn-edit btn-edit-config">Editar</button>
							</div>
						</div>
						<div class="form__field">
							<label class="label" for="afm">Agua fresca 600ml</label>
							<div class="form__input-options">
								<input
									id="afm"
									class="form__input-config"
									type="number"
									step="0.01"
									name="aguaFrescaMedio"
									placeholder="Precio agua fresca 600ml"
									disabled
								/>
								<button type="button" class="btn btn-edit btn-edit-config">Editar</button>
							</div>
						</div>
						<div class="form__field">
							<label class="label" for="anat">Agua Natural 500ml</label>
							<div class="form__input-options">
								<input
									id="anat"
									class="form__input-config"
									type="number"
									step="0.01"
									name="aguaNaturalMedio"
									placeholder="Precio agua natural 500ml"
									disabled
								/>
								<button type="button" class="btn btn-edit btn-edit-config">Editar</button>
							</div>
						</div>
						<div class="form__field">
							<label class="label" for="coca">Coca cola</label>
							<div class="form__input-options">
								<input
									id="coca"
									class="form__input-config"
									type="number"
									step="0.01"
									name="cocaCola"
									placeholder="Precio coca cola"
									disabled
								/>
								<button type="button" class="btn btn-edit btn-edit-config">Editar</button>
							</div>
						</div>
						<div class="form__field">
							<label class="label" for="pi">Piñada</label>
							<div class="form__input-options">
								<input
									id="pi"
									class="form__input-config"
									type="number"
									step="0.01"
									name="piñada"
									placeholder="Precio piñada"
									disabled
								/>
								<button type="button" class="btn btn-edit btn-edit-config">Editar</button>
							</div>
						</div>
						<div class="form__field">
							<label class="label" for="na">Naranjada</label>
							<div class="form__input-options">
								<input
									id="na"
									class="form__input-config"
									type="number"
									step="0.01"
									name="naranjada"
									placeholder="Precio naranjada"
									disabled
								/>
								<button type="button" class="btn btn-edit btn-edit-config">Editar</button>
							</div>
						</div>
						<div class="form__field">
							<label class="label" for="li">Limonada</label>
							<div class="form__input-options">
								<input
									id="li"
									class="form__input-config"
									type="number"
									step="0.01"
									name="limonada"
									placeholder="Precio limonada"
									disabled
								/>
								<button type="button" class="btn btn-edit btn-edit-config">Editar</button>
							</div>
						</div>
					</section>
				</form>
				<form id="form-product-new" class="form-product-new" action="#">
					<h2 class="title">Producto Nuevo</h2>
					<div class="form__field">
						<label class="label" for="product">Nombre del producto</label>
						<input id="product-name" class="form__input-config" type="text" placeholder="Ingresa el nombre del producto" />
					</div>
					<div class="form__field">
						<label class="label" for="product-price">Precio del producto</label>
						<input
							id="product-price"
							class="form__input-config"
							type="number"
							step="0.01"
							placeholder="Ingresa el precio del producto"
						/>
					</div>
					<div class="form__field">
						<label class="label" for="category">Selecciona la categoría</label>
						<div>
							<select name="category" id="select-category" title="Selecciona la categoría">
								<option id="botanas-category" value="Botanas">Botanas</option>
								<option id="postres-category" value="Postres">Postres</option>
								<option id="bebidas-category" value="Bebidas">Bebidas</option>
							</select>
						</div>
					</div>
					<div class="form__field form__field-product">
						<input type="submit" class="btn btn-save" value="Agregar" />
						<input id="cancel-product" type="button" class="btn btn-danger" value="Cancelar" />
					</div>
				</form>
			</section>
		</main>
		<script src="/src/js/app.js" type="module"></script>
	</body>
</html>
