<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Esquiteria</title>
		<meta name="theme-color" content="#191d21" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/normalize.css" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<link rel="stylesheet" href="../../css/components.css" />
		<link rel="stylesheet" href="../../css/config.css" />
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	</head>
	<body id="body">
		<header class="header">
			<nav class="main-nav">
				<figure class="figure">
					<a href="../../../index.html">
						<img class="logo" src="../../assets/img/Esquiteria 2.png" alt="logo" />
					</a>
				</figure>
				<ul id="menu" class="menu">
					<li class="menu__item">
						<a href="../../views/order/order.html" class="link menu__link menu__link--yellow" title="Ir a tomar orden"
							>Tomar orden</a
						>
					</li>
					<li class="menu__item">
						<a
							href="../../views/products-sold/products-sold.html"
							class="link menu__link menu__link--cyan"
							title="Ir a historial de productos"
							>Ventas del día</a
						>
					</li>
				</ul>
				<div class="container-options">
					<a href="../../views/configuration/configuration.html">
						<img id="config" src="../../assets/icons/settings.svg" alt="configuración" />
					</a>
					<div id="hamburger-icon" class="hamburger-icon">
						<div class="hamburger-icon__line"></div>
						<div class="hamburger-icon__line"></div>
						<div class="hamburger-icon__line"></div>
					</div>
				</div>
			</nav>
		</header>
		<main class="container main">
			<section class="config-container">
				<h2 class="title">Configuración</h2>
				<form id="form-config" class="form" action="#">
					<button type="button" id="readPrices" class="btn btn-readPrices">Cargar productos predefinidos</button>
					<div class="form__field form__field--config">
						<button id="new-product" class="btn btn-primary" type="button">Nuevo</button>
						<svg height="48" viewBox="0 -960 960 960" width="48" class="warning" id="warning">
							<path
								fill="#d1831d"
								d="M479.982-280q14.018 0 23.518-9.482 9.5-9.483 9.5-23.5 0-14.018-9.482-23.518-9.483-9.5-23.5-9.5-14.018 0-23.518 9.482-9.5 9.483-9.5 23.5 0 14.018 9.482 23.518 9.483 9.5 23.5 9.5ZM453-433h60v-253h-60v253Zm27.266 353q-82.734 0-155.5-31.5t-127.266-86q-54.5-54.5-86-127.341Q80-397.681 80-480.5q0-82.819 31.5-155.659Q143-709 197.5-763t127.341-85.5Q397.681-880 480.5-880q82.819 0 155.659 31.5Q709-817 763-763t85.5 127Q880-563 880-480.266q0 82.734-31.5 155.5T763-197.684q-54 54.316-127 86Q563-80 480.266-80Zm.234-60Q622-140 721-239.5t99-241Q820-622 721.188-721 622.375-820 480-820q-141 0-240.5 98.812Q140-622.375 140-480q0 141 99.5 240.5t241 99.5Zm-.5-340Z"
							/>
						</svg>
						<button
							id="btn-save-config"
							class="btn btn-save btn-save-config"
							type="submit"
							disabled
							title="Guardar edición de producto"
						>
							Guardar
						</button>
					</div>

					<section id="botanas-category" class="category-container">
						<h3>Botanas</h3>
					</section>
					<section id="desserts-category" class="category-container">
						<h3>Postres</h3>
					</section>
					<section id="drinks-category" class="category-container">
						<h3>Bebidas</h3>
					</section>
					<section id="others-category" class="category-container">
						<h3>Otros</h3>
					</section>
				</form>
				<form id="form-product-new" class="form-product-new" action="#">
					<h2 class="title">Producto Nuevo</h2>
					<div class="form__field">
						<label class="label" for="product-name">Nombre del producto</label>
						<input
							id="product-name"
							class="form__input-config-product"
							type="text"
							placeholder="Ingresa nombre del producto"
							maxlength="11"
						/>
					</div>
					<div class="form__field">
						<label class="label" for="product-price">Precio del producto</label>

						<input
							id="product-price"
							class="form__input-config-product"
							type="number"
							step="0.01"
							placeholder="Ingresa precio del producto"
						/>
						<span class="currency currency-product">$</span>
					</div>
					<div class="form__field">
						<label class="label" for="category">Selecciona la categoría</label>
						<div>
							<select name="category" id="select-category" class="select-category" title="Selecciona la categoría">
								<option value="botanas">Botanas</option>
								<option value="postres">Postres</option>
								<option value="bebidas">Bebidas</option>
								<option value="otros">Otros</option>
							</select>
						</div>
					</div>
					<div class="form__field form__field-product">
						<button type="submit" class="btn btn-primary">Agregar</button>
						<button id="cancel-product" type="button" class="btn btn-danger">Cancelar</button>
					</div>
				</form>
			</section>
		</main>
		<script src="../../js/app.js" type="module"></script>
	</body>
</html>
